@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Montserrat:wght@100;400;700;900&family=Raleway:wght@400;500;600;700;800;900&display=swap');

body {
    padding: 0%;
    margin: 0%;
    outline: 0ch;
    background-color: #111111;
    font-family: Montserrat;
}

/* HERO SECTION */

/* NAVBAR */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1% 5% 1% 5%;
}

.logo {
    width: 8%;
}

.list {
    margin-right: 10%;
    flex: 2;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3rem;
}

.list-item {
    cursor: pointer;
    font-weight: 600;
    font-size: 0.8rem;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.list-item:hover {
    color: #FF3343;
}

/* MAIN */
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main-img {
    width: 45%;
}

.main-content h2 {
    color: #FF3343;
    margin: 0%;
    font-size: 0.9rem;
}

.main-content h1 {
    margin: 0%;
    color: #fff;
    font-size: 3.5rem;
}

.main-content p {
    color: #fff;
}

.about-me-btn {
    border: none;
    margin-top: 3%;
    font-size: 1rem;
    background-color: #FF3343;
    color: #fff;
    padding: 15px 30px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.about-me-btn:hover {
    border: 1px solid #FF3343;
    background-color: transparent;
    color: #FF3343;
}


/* <!-- FEATURES --> */
#features-section {
    background: linear-gradient(to right, #181818 50%, #111111 50%);
}

.features {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.features-card {
    width: 20%;
    padding: 3% 0% 3% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #1e1e1e;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.features-card-active {
    width: 20%;
    padding: 3% 0% 2% 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FF3343;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.features-card-active:hover {
    box-shadow: 4px 4px 10px #fff;
}

.features-card:hover {
    box-shadow: 4px 4px 10px #FF3343;
}

.features-card p {
    margin: 0%;
}

.features-card h3 {
    font-size: 0.8rem;
    color: #FF3343;
}

.features-card-active p {
    margin: 0%;
}

.features-card-active h3 {
    font-size: 0.8rem;
}


.brand-logo1 {
    width: 25%;
}

.brand-logo2 {
    width: 18%;
}

.brand-logo3 {
    width: 25%;
}

/* <!-- ACHIEVMENTS --> */
.achivments {
    padding: 8% 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
}

.achivments1 {
    width: 20%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achivments1 h1 {
    text-align: center;
    font-size: 5rem;
    color: #FF3343;
    font-weight: 900;
    margin: 0%;
}

.achivments1 p {
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0%;
}

.achivments2 {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.achivements2-row {
    padding-top: 1rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1e1e1e;
}

.achivements2-row h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #FF3343;
}

.achivements2-row p {
    text-align: center;
    font-weight: 300;
    color: #fff;
}

/* <!-- PROJECTS --> */
#projects-section {
    color: #fff;
    padding: 5% 13%;
}

.projects-header {
    padding: 0 8% 2% 8%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.view {
    padding: 12px 25px;
    color: #fff;
    background: #FF3343;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.view:hover {
    border: 1px solid #FF3343;
    background-color: transparent;
    color: #FF3343;
}

.projects-heading h2 {
    font-weight: 900;
    margin: 0%;
}

.projects-heading p {
    font-size: 0.8rem;
}

.projects-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.projects {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects h3 {
    font-weight: 900;
}

.projects p {
    cursor: pointer;
    margin: 0%;
    color: #FF3343;
    font-size: 0.9rem;
    font-weight: 600;
}

.project-image {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #1e1e1e;
    padding: 4rem 1rem;
    transition: all 300ms ease-in-out;
}

.project-image:hover {
    box-shadow: 4px 4px 10px #FF3343;
}

.img1 {
    width: 100%;
}

.img2 {
    width: 100%;
}

.img3 {
    width: 100%;
    height: 30vh;
}

.img4 {
    width: 100%;
}

/* <!-- CONTACT SECTION --> */


.contact {
    margin: 6% 13%;
    padding: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1e1e1e;
    color: #fff;
}

.contact-left h1 {
    font-size: 3rem;
    margin: 0%;
}

.contact-left p {
    font-size: 0.8rem;
}

.contact-btn {
    margin-left: 12%;
    padding: 12px 25px;
    color: #fff;
    background: #FF3343;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.contact-btn:hover {
    border: 1px solid #FF3343;
    background-color: transparent;
    color: #FF3343;
}

.bottom-list {
    margin-bottom: 2%;
    color: #fff;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.bottom-list-item {
    transition: all 300ms ease-in-out;
}

.bottom-list-item:hover {
    color: #FF3343;
}

/* FOOTER */
footer {
    padding: 4% 13%;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: row;
}

.footer-logo {
    width: 8%;
}

.media-links {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.media-links a img {
    width: 80%;
}